@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    width: 100vw;
    height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: purple;
}
.secondscreen{
    width: 400px;
    height:450px;
    background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 20px;
transition: 0.3s all linear;
display: none;
}
.secondscreen h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 40px;
}

.secondscreen input[type="number"]{
    padding:20px 80px;
    /* text-align: center; */
    font-size: 15px;
border: 6px solid rgb(163, 51, 255);

}
.secondscreen p{
    margin-top: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
}
.secondscreen span{
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.firstscreen img{
    width: 300px;
    margin-bottom: 50px;
    
}
.firstscreen{
    width: 400px;
    height: 550px;
    background-color: white;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
border-radius: 20px;
transition: 0.3s all linear;

}
.firstscreen h2{
    font-family: 'Josefin Sans', sans-serif;
text-align: center;
margin-bottom: 30px;
}
.firstscreen p{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.firstscreen .button{
    display: flex;
    flex-direction: column;


   
}
.firstscreen button{
    margin-top: 10px;
    padding: 20px;
    background-image: linear-gradient(
        92.88deg,
        #4554b5 9.16%,
        #5643cc 43.89%,
        #673fd7 64.72%
    );
    transition: 0.3s all linear;
    border-radius: 10px;
    font-size: 20px;
    font-family: 'Josefin Sans', sans-serif;
}
.secondscreen button{
    margin: 30px 0px;
    padding: 20px;
    background-image: linear-gradient(
        92.88deg,
        #4554b5 9.16%,
        #5643cc 43.89%,
        #673fd7 64.72%
    );
    transition: 0.3s all linear;
    border-radius: 10px;
   display: none;
   font-size: 20px;
   font-family: 'Josefin Sans', sans-serif;
}